go 1.22.1

use (
	"./Exercise 3/PR_translated_to_go"
	"./Exercise 3/PR_translated_to_go/Driver"
	"./Exercise 3/PR_translated_to_go/elevator"
	"./Exercise 3/PR_translated_to_go/elevator_io_device"
	"./Exercise 3/PR_translated_to_go/fsm"
	"./Exercise 3/PR_translated_to_go/request"
	"./Exercise 3/PR_translated_to_go/timer"
)
